
<div class="container">
    <h1> Index Template </h1>
    <h2>templates/index.hbs</h2>

    <p>
    This is the Index template. This file is within the
    /templates directory.
    </p>

    <h3> more details </h3>
    <p>
    This git repository is intended to lower the general
    amount of boilerplate one has to generate to create a full
    and organized backbone installation. I hope it proved to be
    helpful for someone else out there.
    </p>
    <p>
    This setup includes several well known and well used
    libraries that are brought together using require.js.
    </p>
    <ul>
        <li>jQuery</li>
        <li>underscore</li>
        <li>Backbone</li>
        <li>handlebars</li>
        <li>modernizr</li>
    </u>
    <p>
        there are two other libraries <span class="green">cs.js</span>
        which is used for loading coffescript files, and text.js, used
        for pulling text out of templates.
    </p>


</div>
